{% set site = "/signup" %}

{% extends "et/frame.html" %}
{% block title %}
Konto Loomine - EIOtraining
{% endblock %}

{% block body %}
<form method="post">
	<table>
		<tr>
			<td><label for="user">Kasutajanimi:</label></td>
			<td><input name="user" id="user" value="{{user}}"></td>
			{% if invalid_user %}
				<td>
				<span class="errormsg">Salasõnad peavad sisaldama 3-20 kirjamärki ja koosnema ladina tähtedest, numbritest, side- ja/või alakriipsudest</span>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="password">Salasõna:</label></td>
			<td><input name="password" id="password" type="password"></td>
			{% if invalid_password %}
				<td>
				<span class="errormsg">Salasõnad peavad sisaldama 6-50 tähemärki</span>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="verify">Salasõna uuesti:</label></td>
			<td><input name="verify" id="verify" type="password"></td>
			{% if invalid_verify %}
				<td>
				<span class="errormsg">Salasõnad ei ühildu</span>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="email">Email:</label></td>
			<td><input name="email" id="email" value="{{email}}"></td>
			{% if invalid_email %}
				<td>
				<span class="errormsg">Ebasobiv email-i aadress</span>
				</td>
			{% endif %}
		</tr>
	</table>
	<span class="errormsg">{{error}}</span><br>
	<input type="submit" value="Sign up">
</form>
{% endblock %}
