<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="alternate" href="{{site}}" hreflang="en">
	<link rel="alternate" href="/et{{site}}" hreflang="et">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/utils.js"></script>
	<title>
	{% block title %} {% endblock %}
	</title>
	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="662074927941-q2vfnrddgh6o59avpas4gfnp7d7ft1ro.apps.googleusercontent.com">
	<script src="static/login.js"></script>
</head>

<body onload="signOutSetUp();">

	<header>
	<span class="inlinetitle">EIOtraining</span>
	{% if login %}
		<span style="float: right;"> {{login}}(<a href="/logout" id="logoutlink">logout</a>) </span>
	{% else %}
		<span style="float: right;"><a href="/login">login</a> | <a href="/signup">signup</a> </span>
	{% endif %}
	<br>
	<a href="{{site}}">en</a> | <a href="/et{{site}}">et</a>
	</header>

	<nav>
	<a href="/">Home</a> <a href="/problemset">Problem Set</a>
	</nav>

	{% block body %} {% endblock %}
</body>

</html>