{% set site = "/login" %}

{% extends "en/frame.html" %}
{% block title %}
Login - EIOtraining
{% endblock %}


{% block head %}
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="662074927941-q2vfnrddgh6o59avpas4gfnp7d7ft1ro.apps.googleusercontent.com">
	<script src="static/login.js"></script>
{% endblock %}


{% block body %}
<form method="post">
	<table>
		<tr>
			<td>Username:</td>
			<td><input name="user" value="{{user}}"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
	</table>
	<span class="errormsg">{{error}}</span><br>
	<input type="submit" value="Log in">
	
	<div class="g-signin2" data-onsuccess="onSignIn"></div>

</form>
{% endblock %}