input.nav-closed {
	outline-style:outset;
	color:red;
}
input.nav-open {
	outline-style:inset;
	color:red;
}
.nav-folder {
	margin-right: 10px;
}
.errormsg {
	color:red;
}
.inlinetitle {
	font-size: 1.75em;
	font-weight: bold;
}